# exclude .idea and data files
**/venv
**/venv/*
**/.idea
**/.idea/*
**/__pycache__
**/__pycache__/*
db.sqlite3
static/admin
static/admin/*
static/style.css
static/fonts
static/fonts/*
!static/scripts
!static/scripts/*
udemy/.git
udemy/.git/*
udemy/.gitignore
