{% include 'partials/header_udemy.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Mastering D3.js Course</h1>
    </div><br>

    <!-- heading -->
    <div class="d-flex justify-content-center">
        <h3>Project 2: World GDP, Life Expectancy & Population (1800-2014)</h3>
    </div><br>

    <!-- class content -->
    <div class="d-flex justify-content-center">
        <!-- Second Project Enhanced -->
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <button id="play-button" class="btn btn-primary">Play</button>
                    <button id="reset-button" class="btn btn-primary">Reset</button>
                </div>
                <div class="col-md-4">
                    <div id="slider-div">
                        <label>Year: <span id="year">1800</span></label>
                        <div id="date-slider" class="ui-slider"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <select id="continent-select" class="form-control">
                        <option selected value="all">All</option>
                        <option value="europe">Europe</option>
                        <option value="asia">Asia</option>
                        <option value="americas">Americas</option>
                        <option value="africa">Africa</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="proj-2-chart"></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="d-flex justify-content-center">
        <h3>Project 3: BitCoin Chart</h3>
    </div><br>

         <!-- Third Project -->
    <div class="d-flex justify-content-center">
        <div class="container">
            <div id="selections" class="row">
                <div class="col-md-4">
                    <div id="slider-div-proj3">
                        <label>Date: <span id="dateLabel1">12/05/2013</span> - <span id="dateLabel2">31/10/2017</span></label>
                        <div id="date-slider-proj3"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <select id="coin-select" class="form-control">
                        <option selected value="bitcoin">Bitcoin</option>
                        <option value="ethereum">Ethereum</option>
                        <option value="bitcoin_cash">Bitcoin Cash</option>
                        <option value="litecoin">Litecoin</option>
                        <option value="ripple">Ripple</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="var-select" class="form-control">
                        <option selected value="price_usd">Price in dollars</option>
                        <option value="market_cap">Market capitalization</option>
                        <option value="24h_vol">24 hour trading volume</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="proj-3-chart"></div>
                </div>
            </div>
        </div>
    </div><br>

    <!-- Load the main d3.js file -->
    {% load static %}
    <!--script src="{% static 'scripts/udemy_masteringd3js.js' %}"></script-->
    <script src="{% static 'scripts/udemy_masteringd3js_proj3.js' %}"></script>

{% include 'partials/footer_udemy.html' %}
