{% include 'partials/header_udemy.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Mastering D3.js Course</h1>
    </div><br>

    <!-- CSS Styling -->
    <style>
        .axis {
            font: 10px sans-serif;
        }

        .axis path, .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 2px;
            shape-rendering: crispEdges;
        }

        .line {
            fill: none;
            stroke-width: 2px;
        }

        .overlay {
            fill: none;
            pointer-events: all;
        }

        .focus circle {
            fill: #F1F3F3;
            stroke: #777;
            stroke-width: 3px;
        }

        .hover-line {
            stroke: #777;
            stroke-width: 2px;
            stroke-dasharray: 3,3;
        }

        #selections .col-md-4 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

    <div class="d-flex justify-content-center">
        <p>Below are my projects that I worked on throughout the course. Project 1, a simple bar chart,
            has been excluded but I have kept the labelling for those who have taken the course to follow.
        </p>
    </div>


    <!-- heading -->
    <div class="d-flex justify-content-center">
        <h3>Project 2: World GDP, Life Expectancy & Population (1800-2014)</h3>
    </div><br>

    <!-- class content -->
    <div class="d-flex justify-content-center">
        <!-- Second Project Enhanced -->
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <button id="play-button" class="btn btn-primary">Play</button>
                    <button id="reset-button" class="btn btn-primary">Reset</button>
                </div>
                <div class="col-md-4">
                    <div id="slider-div">
                        <label>Year: <span id="year">1800</span></label>
                        <div id="date-slider" class="ui-slider"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <select id="continent-select" class="form-control">
                        <option selected value="all">All</option>
                        <option value="europe">Europe</option>
                        <option value="asia">Asia</option>
                        <option value="americas">Americas</option>
                        <option value="africa">Africa</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="proj-2-chart"></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="d-flex justify-content-center">
        <h3>Project 3: Cryptocurrency Chart</h3>
    </div><br>

    <!-- Third Project -->
    <div class="d-flex justify-content-center">
        <div class="container">
            <div id="selections" class="row">
                <div class="col-md-4">
                    <div id="slider-div-proj3">
                        <label>Date: <span id="dateLabel1">12/05/2013</span> - <span id="dateLabel2">31/10/2017</span></label>
                        <div id="date-slider-proj3"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <select id="coin-select" class="form-control">
                        <option selected value="bitcoin">Bitcoin</option>
                        <option value="ethereum">Ethereum</option>
                        <option value="bitcoin_cash">Bitcoin Cash</option>
                        <option value="litecoin">Litecoin</option>
                        <option value="ripple">Ripple</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="var-select" class="form-control">
                        <option selected value="price_usd">Price in dollars</option>
                        <option value="market_cap">Market capitalization</option>
                        <option value="24h_vol">24 hour trading volume</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <div id="proj-3-chart"></div>
                </div>
            </div>
        </div>
    </div><br>

    <!-- Third Project Revised -->
    <div class="d-flex justify-content-center">
        <h3>Project 3 - Revised: Cryptocurrency Chart</h3>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="container">
            <div id="selections-e" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div id="slider-div-proj3-e">
                        <label>Date: <span id="dateLabel1-e">12/05/2013</span> - <span id="dateLabel2-e">31/10/2017</span></label>
                        <div id="date-slider-proj3-e"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <select id="var-select-proj3-e" class="form-control">
                        <option selected value="price_usd">Price in dollars</option>
                        <option value="market_cap">Market capitalization</option>
                        <option value="24h_vol">24 hour trading volume</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- it will auto-wrap since it is only 12 per "row" -->
                <div class="col-md-4" id="chart-area-proj3-1"></div>
                <div class="col-md-4" id="chart-area-proj3-2"></div>
                <div class="col-md-4" id="chart-area-proj3-3"></div>
                <div class="col-md-4" id="chart-area-proj3-4"></div>
                <div class="col-md-4" id="chart-area-proj3-5"></div>
            </div>
        </div>
    </div><br><br>


    <!-- Third Project Revised WITH MAIN EVENT HANDLERS -->
    <div class="d-flex justify-content-center">
        <h3>Project 3 - Event Handlers: Cryptocurrency Chart</h3>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="container">
            <div id="selections-e2" class="row">
                <div class="col-md-4">
                    <div id="slider-div-proj3-e2">
                        <label>Date: <span id="dateLabel1-e2">12/05/2013</span> - <span id="dateLabel2-e2">31/10/2017</span></label>
                        <div id="date-slider-proj3-e2"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <select id="coin-select-proj3-e2" class="form-control">
                        <option selected value="bitcoin">Bitcoin</option>
                        <option value="ethereum">Ethereum</option>
                        <option value="bitcoin_cash">Bitcoin Cash</option>
                        <option value="litecoin">Litecoin</option>
                        <option value="ripple">Ripple</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="var-select-proj3-e2" class="form-control">
                        <option selected value="price_usd">Price in dollars</option>
                        <option value="market_cap">Market capitalization</option>
                        <option value="24h_vol">24 hour trading volume</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- it will auto-wrap since it is only 12 per "row" -->
                <div class="col-md-8">
                    <div id="line-chart-proj3-1"></div>
                    <div id="timeline-area"></div>
                </div>
                <div class="col-md-4">
                    <div id="donut-chart-proj3-1"></div>
                    <div id="donut-chart-proj3-2"></div>
                </div>
            </div>
        </div>
    </div><br><br>


    <!-- Final Project - Corporate Dashboard -->
    <div class="d-flex justify-content-center">
        <h3>Project 4 - Corporate Dashboard</h3>
    </div><br>

    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div id="left-charts" class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Dates: <span id="dateLabel1-proj4">01/01/2017</span> - <span id="dateLabel2-proj4">10/12/2017</span></label>
                        </div>
                        <div class="col-md-4">
                            <select id="var-select-proj4" class="form-control">
                                <option selected value="call_revenue">Revenue (USD)</option>
                                <option value="call_duration">Call Time (seconds)</option>
                                <option value="units_sold">Units Sold</option>
                            </select>
                        </div>
                    </div><br>
                    <div id="stacked-area"></div>
                    <div id="timeline"></div>
                </div>
                <div id="right-charts" class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-12" id="company-size"></div>
                        <div class="col-sm-6 col-md-12" id="units-sold"></div>
                        <div class="col-sm-6 col-md-12" id="revenue"></div>
                        <div class="col-sm-6 col-md-12" id="call-duration"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>


    <!-- Load the main d3.js file -->
    {% load static %}
    <!--script src="{% static 'scripts/udemy_js/masteringd3js/proj2.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3original.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3-lineChart.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3-main.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3-donutChart.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3-timeline.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj3-revised2.js' %}"></script-->
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj4-timeline.js' %}"></script>
    <script src="{% static 'scripts/udemy_js/masteringd3js/proj4-main.js' %}"></script>

{% include 'partials/footer_udemy.html' %}
