{% include 'partials/header_udemy.html' %}
    {% load static %}
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#"><!--img id="logo" src="{% static 'img/logo.png' %}"--></a>
        </div>
    </nav>

    <div id="my-title" class="d-flex justify-content-center">
        <h1>Mastering D3.js Course</h1>
    </div><br>

    <!-- Bootstrap grid setup -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button id="play-button" class="btn btn-primary">Play</button>
                <button id="reset-button" class="btn btn-primary">Reset</button>
            </div>
            <div class="col-md-6">
                <select id="continent-select" class="form-control">
                    <option selected value="all">All</option>
                    <option value="europe">Europe</option>
                    <option value="asia">Asia</option>
                    <option value="americas">Americas</option>
                    <option value="africa">Africa</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div id="chart-area"></div>
        </div>
    </div>

    <!-- Load the main d3.js file -->
    {% load static %}
    <script src="{% static 'scripts/masteringd3js.js' %}"></script>

{% include 'partials/footer_udemy.html' %}
